body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

/*HEADER*/
.navbar {
    background-color: slategray
}

.inline {
    display: inline-block;
    padding: 20px;
    margin: 0 30px;
}

.no-dec {
    float: right;
    list-style: none;
}

.no-link {
    text-decoration: none;
    font-size: 18px;
    color: beige;
}

/*MAIN*/

.explanation {
    padding: 10px 50px 80px;
    background-color: rgba(68, 63, 63, 0.205);
}

.paragraph {
    line-height: 1.8;
    margin-bottom: 50px;
    margin-top: 40px;
}

.destination-and-date-box {
    margin-bottom: 30px;
    display: inline-block;
}

.bold {
    font-weight: 600;
}

#button-trip {
    border-radius: 20px;
    background-color: tomato;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

/*RESULT BOX*/
#result-box {
    display: inline-block;
}

/*FOOTER*/
#footer-box {
    background: #444;
    grid-area: ft;
    color: white;
}

.footer-title {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    letter-spacing: 2px;
}

.social-list {
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
}

.social-element {
    padding: 20px 50px 60px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background: #282828;
    margin: 0;
    padding: 15px;
}