body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

/*HEADER*/
.navbar {
    background-color: slategray
}

.inline {
    display: inline-block;
    padding: 20px;
    margin: 0 30px;
}

.no-dec {
    float: right;
    list-style: none;
}

.no-link {
    text-decoration: none;
    font-size: 18px;
    color: beige;
}

/*MAIN*/
.container {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: minmax(30px, auto);
    grid-gap: 30px;
    grid-template-areas:
    "left"
    "right";
}

.destination-and-date-box {
    grid-area: left;
    margin-bottom: 30px;
}

.explanation {
    padding: 40px 50px 100px;
    background-color: rgba(68, 63, 63, 0.205);
}

.paragraph {
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.bold {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.button-trip-box {
    margin-top: 35px;
}

#button-trip {
    border-radius: 20px;
    background-color: teal;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

/*RESULT BOX*/
.hidden {
    display: none;
}

#result-box {
    border: 1px solid black;
    padding: 0 40px 40px;
}

.saved-trips-box {
    border-bottom: 1px solid black;
    padding: 15px;
}

.button-save {
    border-radius: 20px;
    background-color: teal;
    margin-right: 20px;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    text-decoration: none;
}

.button-delete {
    border-radius: 20px;
    background-color: tomato;
    color: #fff;
    font-size: 13px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    text-decoration: none;
}

.text-result {
    color: slategray;
}

.result-grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas:
    "lt"
    "rt";
}

#image-container {
    margin-top: 20px;
}

#image {
    width: 100%;
}

/*FOOTER*/
#footer-box {
    background: #444;
    grid-area: ft;
    color: white;
}

.footer-title {
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
    letter-spacing: 2px;
}

.social-list {
    display: flex;
    justify-content: center;
    color: white;
    list-style-type: none;
}

.social-element {
    padding: 20px 50px 60px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background: #282828;
    margin: 0;
    padding: 15px;
}